*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}
body{
    position: relative;
    width: 99vw;
    height: 87vh;
    background-color:hsl(218, 23%, 16%);
    /* color: white; */
}
.advice-wrapper{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 10% auto 0px auto;
    background-color:  hsl(217, 19%, 24%);
    width: 40%;
    height: 56%;
    padding: 35px;
    box-shadow: 2px solid  hsl(217, 19%, 24%);
    border-radius: 15px;
}

.advice-id{
    color: hsl(150, 100%, 66%); 
    letter-spacing: 6px;
}

.advice-description{
    color: hsl(193, 38%, 86%);
    font-size: 28px;
}
.dice-btn{
    display: flex;
    position: absolute;
    bottom:-20px;
}
.btn{
    background: hsl(150, 100%, 66%);
    border: 2px solid hsl(150, 100%, 66%);
    padding: 10px;
    border-radius: 75px;
    display: flex;
    transition-property:box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.btn:hover{
    cursor: pointer;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 45px hsl(150deg 100% 66%);
}

.btn:active{
    padding: 10.5px;
    transition-property:padding;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

/* .advice-description{
    background-color:
} */
.attribution{
    position: absolute;
    bottom:10px ;
}


    @media screen and (max-width:375px) {
        .divider{
        content:url('./images/pattern-divider-mobile.svg');
        fill: hsl(193, 38%, 86%);
        }
    }
    @media screen and (min-width: 376px) {
        .divider{
        content:url("./images/pattern-divider-desktop.svg");
        fill: hsl(193, 38%, 86%);
        }
    }
